$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$btn-blue: #38aef0;
$text-gray: #434a54;
$light_gray: #999;
$alert_orange: #F35500;

$side_header_font: 16px;
$side_group_name: 15px;
$side_group_message: 11px;